@model Resident


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="mx-3 mt-3">
    <a asp-controller="resident" asp-action="Index" class="btn btn-outline-dark">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
        </span> Back
    </a>
</div>

<div class="row mx-3 mt-3">
    <div class="col-xl-4">
        <!-- Profile picture card-->
        <div class="card mb-4 mb-xl-0">
           
            <div class="card-body text-center">
                <!-- Profile picture image-->
                @* <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt=""> *@
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>                
                <!-- Profile picture help block-->
                <div class="fs-5 font-italic text-muted mt-3">@Model.Firstname @Model.Lastname</div>
                <!-- Profile picture upload button-->
                <div class="fs-5 font-italic text-muted">@Model.Age</div>
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <!-- Account details card-->
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div>Resident Details</div>
                <a asp-action="delete" asp-controller="resident" asp-route-id="@Model.Id" onclick="return confirm('Are you sure you want to delete this record?')" class="btn btn-outline-danger btn-sm d-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                    </svg>
                </a>
                </div>
            <div class="card-body">
                <form>
                    <!-- Form Group (username)-->
                    @* <div class="mb-3">
                        <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
                        <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="username">
                    </div> *@
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-4">
                            <label class="small mb-1" for="inputFirstName">First name</label>
                            <input readonly class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" value="@Model.Firstname">
                        </div>

                        <div class="col-md-4">
                            <label class="small mb-1" for="inputMiddleName">Middle name</label>
                            <input readonly class="form-control" id="inputMiddleName" type="text" placeholder="Enter your middle name" value="@Model.Middlename">
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-4">
                            <label class="small mb-1" for="inputLastName">Last name</label>
                            <input readonly class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" value="@Model.Lastname">
                        </div>
                    </div>
                    <!-- Form Row        -->
                    <div class="row gx-3 mb-4">
                        <!-- Form Group (age, birthday)-->
                        <div class="col-md-3">
                            <label class="small mb-1" for="inputSex">Sex</label>
                            <input readonly class="form-control" id="inputSex" type="text" placeholder="Enter your organization name" value="@Model.Gender">
                        </div>

                        <div class="col-md-3">
                            <label class="small mb-1" for="inputStatus">Status</label>
                            <input readonly class="form-control" id="inputStatus" type="text" placeholder="Enter your organization name" value="@Model.Status">
                        </div>

                        @{
                            var birthdate = @Model.Birthday.HasValue ? @Model.Birthday.Value.ToLongDateString() : "";
                        }

                        <div class="col-md-6">
                            <label class="small mb-1" for="inputBirthday">Birthday</label>
                            <input readonly class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="@birthdate">
                        </div>
                    </div>

                    <!-- Form Group (Street)-->
                    <div class="row mb-2">
                        <div class="col-md-auto">
                            <label class="small mb-1" for="inputStreet">Street</label>
                            <input readonly class="form-control" id="inputStreet" type="text" placeholder="Enter your location" value="@Model.Street.StreetName">
                        </div>
                    </div>
                    
                    <div class="row gx-3 mb-4">                        
                        <!-- Form Group (Address)-->                      

                        <div class="col-md-4">
                            <label class="small mb-1" for="inputBrgy">Brgy.</label>
                            <input readonly class="form-control" id="inputBrgy" type="text" placeholder="Enter your location" value="@Model.Address.Brgy">
                        </div>

                        <div class="col-md-4">
                            <label class="small mb-1" for="inputMunicipality">Municipality</label>
                            <input readonly class="form-control" id="inputMunicipality" type="text" placeholder="Enter your location" value="@Model.Address.Municipality">
                        </div>

                        <div class="col-md-4">
                            <label class="small mb-1" for="inputProvince">Province</label>
                            <input readonly class="form-control" id="inputProvince" type="text" placeholder="Enter your location" value="@Model.Address.Town">
                        </div>
                    </div>
                    <!-- Form Group (email address, phone number)-->
                    <div class="row gx-3 mb-5">
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                            <input readonly class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="@Model.Email">
                        </div>

                        <div class="col-md-6">
                            <label class="small mb-1" for="inputPhone">Phone number</label>
                            <input readonly class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="@Model.ContactNo">
                        </div>
                        
                    </div>
                   
                    <div class="d-flex justify-content-end">
                        <a asp-controller="resident" asp-action="edit" asp-route-id="@Model.Id" class="btn btn-primary" type="button">Edit Details</a>
                    </div>
                    <!-- Save changes button-->
                    
                </form>
            </div>
        </div>
    </div>
</div>