@using RPMS.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model EditResidentViewModel


<div class="mx-3 mt-3">
    <a asp-controller="resident" asp-action="details" asp-route-id="@Model.Id" class="btn btn-outline-dark">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
        </span> Back
    </a>
</div>

<div class="row mx-3 mt-3">
    <div class="col-xl-4">
        <!-- Profile picture card-->
        <div class="card mb-4 mb-xl-0">

            <div class="card-body text-center">
                <!-- Profile picture image-->
                @* <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt=""> *@
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>
                <!-- Profile picture help block-->
                <div class="fs-5 font-italic text-muted mt-3">@Model.Firstname @Model.Lastname</div>
                <!-- Profile picture upload button-->
                <div class="fs-5 font-italic text-muted">@Model.Age</div>
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <!-- Account details card-->
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">Edit Resident Details</div>
            <div class="card-body">
                <form method="post" asp-action="edit" asp-controller="resident">
                    <!-- Form Group (username)-->                    
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-4">
                            <label class="small mb-1" asp-for="Firstname">First name<span class="text-danger">*</span></label>
                            <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" asp-for="Firstname">
                            <span asp-validation-for="Firstname" class="text-danger small">
                            </span>
                        </div>

                        <div class="col-md-4">
                            <label class="small mb-1" asp-for="Middlename">Middle name</label>
                            <input class="form-control" id="inputMiddleName" type="text" placeholder="Enter your middle name" asp-for="Middlename">
                            <span asp-validation-for="Middlename" class="text-danger small">
                            </span>
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-4">
                            <label class="small mb-1" asp-for="Lastname">Last name<span class="text-danger">*</span></label>
                            <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" asp-for="Lastname">
                            <span asp-validation-for="Lastname" class="text-danger small">
                            </span>
                        </div>
                    </div>
                    <input hidden asp-for="Age" />

                    <!-- Form Row        -->
                    <div class="row gx-3 mb-4">
                        <!-- Form Group (age, birthday)-->
                        
                        <div class="col-md-3">
                            <label asp-for="Gender" class="form-label small mb-1">Sex<span class="text-danger">*</span></label>
                            <select asp-for="Gender" class="form-select" asp-for="Gender" >
                                <option value="">Choose...</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger small">
                            </span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Status" class="form-label small mb-1">Status<span class="text-danger">*</span></label>
                            <select asp-for="Status" class="form-select" asp-for="Status" >
                                <option value="">Choose...</option>
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger small">
                            </span>
                        </div>

                        <div class="col-md-6">
                            <label class="small mb-1" asp-for="Birthday">Birthday</label>
                            <input asp-for="Birthday" class="form-control" id="inputBirthday" type="date" name="birthday" placeholder="Enter your birthday">
                            <span asp-validation-for="Birthday" class="text-danger small">
                            </span>
                        </div>
                    </div>                    

                    <!-- Form Group (Street)-->
                    <div class="row mb-2">
                        <div class="col-md-auto">
                            <label class="small mb-1" asp-for="StreetId">Street<span class="text-danger">*</span></label>
                            <select class="form-select" asp-for="StreetId" asp-items="@(new SelectList(ViewBag.StreetList, "Value", "Text", "Selected"))">
                            </select>
                        </div>
                    </div>

                    <div class="row gx-3 mb-4">
                        <!-- Form Group (Address)-->

                        <div class="col-md-4">
                            <label class="small mb-1" for="inputBrgy">Brgy.</label>
                            <input readonly class="form-control" id="inputBrgy" type="text" placeholder="Enter your location" value="@ViewBag.MainAddress.Brgy">
                        </div>

                        <div class="col-md-4">
                            <label class="small mb-1" for="inputMunicipality">Municipality</label>
                            <input readonly class="form-control" id="inputMunicipality" type="text" placeholder="Enter your location" value="@ViewBag.MainAddress.Municipality">
                        </div>

                        <div class="col-md-4">
                            <label class="small mb-1" for="inputProvince">Province</label>
                            <input readonly class="form-control" id="inputProvince" type="text" placeholder="Enter your location" value="@ViewBag.MainAddress.Town">
                        </div>
                    </div>
                    <!-- Form Group (email address, phone number)-->
                    <div class="row gx-3 mb-5">
                        <div class="col-md-6">
                            <label class="small mb-1" asp-for="Email">Email address <span class="text-muted">(Optional)</label>
                            <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" asp-for="Email">
                            <span asp-validation-for="Email" class="text-danger small">
                            </span>
                        </div>

                        <div class="col-md-6">
                            <label class="small mb-1" asp-for="ContactNo">Phone number <span class="text-muted">(Optional)</label>
                            <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" asp-for="ContactNo">
                            <span asp-validation-for="ContactNo" class="text-danger small">
                            </span>
                        </div>

                    </div>

                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit">Save Changes</button>
                    </div>
                    <!-- Save changes button-->
                </form>
            </div>
        </div>
    </div>
</div>

