@model Address
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.HeadingTitle = "Brgy. " + @Model.Brgy + ", " + @Model.Municipality + ", " + @Model.Town;
    ViewBag.Title = "Address";

}
<div class="mx-3 mt-3 mb-4">
    <div class="row">
        <div class="col-lg-6 pb-5">
            <!-- Main Address-->
            <div class="card">
                <div class="card-header font-weight-bold bg-primary text-light">
                    <h5 class="mb-0">
                        Main Address
                    </h5>
                   
                </div>
                <div class="card-body">
                    <div class="row gx-3 gy-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-12">
                            <label class="small mb-1" for="Brgy">Brgy.</label>
                            <input class="form-control" id="Brgy" type="text" value="@Model.Brgy" readonly>
                        </div>

                        <div class="col-md-12">
                            <label class="small mb-1" for="Municipality">Municipality</label>
                            <input class="form-control" id="Municipality" type="text" value="@Model.Municipality" readonly>
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-12">
                            <label class="small mb-1" for="Town">Province</label>
                            <input class="form-control" id="Town" type="text" value="@Model.Town" readonly>
                        </div>
                    </div>

                    <div class="d-flex justify-content-sm-end">
                        <a class="btn btn-primary" asp-route-id="@Model.Id" asp-controller="Address" asp-action="edit">Edit</a>
                    </div>
                    

                 </div>
                
            </div>
       
        </div>
        <!-- Streets Table-->
        <div class="col-lg-6 pb-5">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center bg-primary text-light">
                    <h5 class="mb-0">
                        Streets
                    </h5>
                   
                    
                    @* <div class="form-inline">
                    <label class="text-muted mr-3" for="order-sort">Sort Orders</label>
                    <select class="form-control" id="order-sort">
                    <option>All</option>
                    <option>Delivered</option>
                    <option>In Progress</option>
                    <option>Delayed</option>
                    <option>Canceled</option>
                    </select>
                    </div> *@
                </div>                              
                <div class="table-responsive p-3 overflow-y-scroll" style="height: 350px">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th> #</th>
                                <th>Street Name</th>
                                <th>Actions</th>                                
                            </tr>
                        </thead>
                        <tbody>

                            @{int count = 0; }

                            @for(int i = 0; i < Model.Streets.Count; i++)
                            {
                                count += 1;
                                <tr>
                                    <td>@count</td>
                                    <td>@Model.Streets[i].StreetName</td>
                                    <td class="">
                                       <a asp-controller="street" asp-action="edit" asp-route-id="@Model.Streets[i].Id" class="btn btn-primary btn-sm">Edit</a>
                                        <a asp-controller="street" asp-action="delete" asp-route-id="@Model.Streets[i].Id" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this street (@Model.Streets[i].StreetName)?')">Delete</a>                                             
                                    </td>

                                </tr>
                           }
                     
                        </tbody>
                    </table>

                    
                </div>
                <div class="card-footer d-flex justify-content-end ">
                    <a asp-controller="street" asp-action="add" class="btn btn-primary">Add Street</a>
                </div>
                
            </div>
            
        </div>
    </div>
</div>